
h5 {
    text-align:center
}

h2 {
    text-align:center
}

.Honorable {
    color:darkblue
}

.borderpop {
    border: 5px solid darkgoldenrod
}

.biography1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: orangered
}